<!doctype html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/cuckoo.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1 id="Cuckoo"> Cuckoo </h1>
		<a href="/html/login.html">
			<img src="../images/login.jpg" class="img" id="login">
		</a>
		<a href="/html/set.time.html" id="set-time" class="btn btn-default btn-block">Set Timer</a>
		<a id="view-eggs" class="btn btn-default btn-block">View Eggs</a>
		<img id="logo" src="/images/Monokuma.transparent.png" alt="LOGO" class="img">
	</div>
	<!--<script src="/js/scripty.js"></script>-->
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>