<!doctype html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/cuckoo.css" rel="stylesheet">
</head>
<body class="cuckooBg">
	<div class="container">

		<div class="indexHeader">
			<h1> Cuckoo </h1>
		</div>

		<div class="icon">
		<a href="html/login.html">
			<img src="../images/icon.png" width="30px" height="30px">
		</a>
		</div>

		<a href="/html/clock.html" id="set-time" class="btn btn-default btn-block">Set Timer</a>
		<a href="/viewEggs" id="view-eggs" class="btn btn-default btn-block">View Eggs</a>
		<img id="logo" src="/images/alfred.png" alt="LOGO" class="img">
	</div>
	<!--<script src="/js/scripty.js"></script>-->
	<script src="/js/bootstrap.min.js"></script>

	
</body>
</html>
