div.container {
    text-align: center;
    margin-top: 25px;
    padding-top: 25px;
    width: 375px;
}

#set-time {
    margin-top: 85px;
}

#view-eggs {
    margin-top: 60px;
}

#logo {
    width: 200px;
    height: auto;
    padding-top: 50px;
}

.timeheading {
    text-align: left;
    margin-top: 75px;
}

.timebox {
    width: 100%;
}

.back {
    display:inline-block;
    vertical-align: middle;
    padding-right: 80px;
} 

.heading {
    display:inline-block;
    vertical-align: middle;
    padding-right: 101px;
} 

.hidden {
    display: none;
}



