div.container {
    text-align: center;
    margin-top: 50px;
    width: 375px;
}

#set-time {
    margin-top: 85px;
}

#view-eggs {
    margin-top: 60px;
}

#logo {
    width: 200px;
    height: auto;
    padding-top: 50px;
}

.timeheading {
    text-align: left;
    margin-top: 50px;
}

.timebox {
    width: 100%;
}

.back {
    display:inline-block;
    vertical-align: middle;
    padding-right: 50px;
} 

.heading {
    display:inline-block;
    vertical-align: middle;
    padding-right: 101px;
} 

.hidden {
    display: none;
}

.indexHeader > * {
    vertical-align: middle;
}

#Cuckoo {
    display:inline-block;
    padding-bottom: 15px;
}

.alfredChick {
    padding-top: 90px;
    width: 300px;
    height: 500px;
}

.alfredBg {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.eggBg {
    background-image: url(../images/planks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.loginBg {
    background-image: url(../images/sky.png);
    background-repeat: no-repeat;
    background-size: 1500px;
}

.cuckooBg {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

